<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace='cn.guoyka.simplermybatis.entity'>
    <resultMap id='allOfReport' type='cn.guoyka.simplermybatis.entity.Report'>
        <id property='id' javaType='long' column='id'/>
        <result property='name' javaType='String' column='name'/>
        <result property='template' javaType='String' column='template'/>
        <result property='type' javaType='String' column='type'/>
        <result property='title' javaType='String' column='title'/>
        <result property='notes' javaType='String' column='notes'/>
    </resultMap>
</mapper>